absl-py==2.1.0
access==1.1.9
adjustText==1.1.1
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
alfpy==1.0.6
amqp==5.1.1
aniso8601==9.0.1
anndata==0.10.3
anyio==3.7.0
APScheduler==3.11.0
archspec==0.2.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-api-compat==1.4
arrow==1.2.3
ase==3.22.1
asgiref==3.8.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.2
async-timeout==4.0.3
Babel==2.12.1
backcall==0.2.0
bcbio-gff==0.7.0
beautifulsoup4==4.12.2
billiard==4.1.0
biodata==0.1.0
biopython==1.81
biothings-client==0.3.1
bleach==6.0.0
blessed==1.20.0
blinker==1.7.0
bokeh==3.3.4
boto3==1.34.78
botocore==1.34.78
Brotli==1.1.0
CacheControl==0.12.11
cachetools==5.3.2
celery==5.3.4
certifi==2024.8.30
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
chardet==3.0.4
charset-normalizer==3.1.0
checkv==1.0.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
cmake==3.26.4
comm==0.1.3
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
cytocraft==0.0.6
datatable==1.0.0
debugpy==1.6.7
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
Django==4.2.23
django-crontab==0.7.1
django-extensions==3.2.3
django-filter==23.2
django-picklefield==3.1
django-q==1.3.9
djangorestframework==3.16.0
drf-yasg==1.21.7
EoN==1.1
esda==2.4.3
et_xmlfile==2.0.0
ete3==3.1.3
exceptiongroup==1.1.1
executing==1.2.0
fair-esm==2.0.0
fastjsonschema==2.17.1
fiona==1.9.5
Flask==3.0.1
Flask-Compress==1.14
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
flask-server-timing==0.1.2
flask-talisman==1.1.0
flatbuffers==25.2.10
flatten-dict==0.4.2
fonttools==4.39.3
forgi==2.2.3
fqdn==1.5.1
frozenlist==1.4.1
gast==0.4.0
genomictools==0.0.7
gensim==4.3.2
geopandas==0.13.2
get-annotations==0.1.2
giddy==2.3.5
google-auth==2.27.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googledrivedownloader==0.4
grpcio==1.60.0
gseapy==1.1.3
gunicorn==23.0.0
h11==0.8.1
h2==3.2.0
h5py==3.8.0
hdmedians==0.14.2
hpack==3.0.0
huggingface-hub==0.26.5
hyperframe==5.2.0
idna==2.10
igraph==0.10.8
imageio==2.33.1
immutabledict==4.2.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
inequality==1.0.0
inflection==0.5.1
install==1.3.5
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.22.1
kcounter==0.1.1
keras==2.11.0
kiwisolver==1.4.4
kombu==5.3.2
lapjv==1.3.14
lazy_loader==0.3
leidenalg==0.10.2
Levenshtein==0.23.0
libclang==16.0.6
libpysal==4.7.0
lit==16.0.6
llvmlite==0.40.1rc1
logging-exceptions==0.1.9
louvain==0.8.1
lxml==4.9.3
mapclassify==2.6.0
Markdown==3.5.2
MarkupSafe==2.1.4
matplotlib==3.7.1
matplotlib-inline==0.1.6
mgwr==2.2.1
mistune==2.0.5
momepy==0.6.0
multidict==6.0.5
mygene==3.2.2
narwhals==2.21.0
natsort==8.3.1
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.2.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.57.0
numpy==1.21.6
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
openpyxl==3.1.5
opt-einsum==3.3.0
ortools==9.2.9972
overrides==7.3.1
packaging==23.1
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.5
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.3.0
pip-system-certs==4.0
platformdirs==3.5.1
plotly==5.18.0
pointpats==2.4.0
POT==0.9.3
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==3.19.6
psycopg2==2.9.3
PuLP==2.8.0
pure-eval==0.2.2
pyarrow==21.0.0
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.15.1
PyGSP==0.5.1
pynndescent==0.5.10
pyparsing==3.3.2
pyproj==3.6.1
pyproject-toml==0.0.10
pyrodigal==2.2.0
pysal==23.7
pysam==0.23.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-igraph==0.11.3
python-json-logger==2.0.7
python-Levenshtein==0.23.0
python-louvain==0.16
pytz @ file:///croot/pytz_1695131579487/work
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.1.0
quantecon==0.7.1
rapidfuzz==3.6.1
rasterio==1.3.9
rasterstats==0.19.0
rdflib==6.3.2
redis==6.2.0
requests==2.32.5
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rpy2==3.5.15
rsa==4.9
Rtree==1.2.0
s3fs==0.4.2
s3transfer==0.10.1
scanpy==1.9.6
scikit-bio==0.5.8
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
segregation==2.5
Send2Trash==1.8.2
session-info==1.0.0
shapely==2.0.2
simplegeneric==0.8.1
six==1.16.0
slurmpy==0.0.8
smart-open==6.4.0
sniffio==1.3.0
snuggs==1.4.7
soupsieve==2.4.1
spaghetti==1.7.4
spglm==1.0.8
spint==1.0.7
splot==1.1.5.post1
spopt==0.5.0
spreg==1.4
spvcm==0.3.0
sqlparse==0.5.5
stack-data==0.6.2
statsmodels==0.14.1
stdlib-list==0.10.0
stlearn==0.4.12
sympy==1.13.1
tbb==2021.10.0
tcranno==1.0.2
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.35.0
termcolor==2.4.0
terminado==0.17.1
texttable==1.7.0
thefuzz==0.22.1
threadpoolctl==3.5.0
tifffile==2024.1.30
tinycss2==1.2.1
tobler==0.11.2
tokenizers==0.21.0
tomli==2.0.1
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
transformers==4.47.0
triton==2.3.1
typing_extensions==4.16.0
tzdata==2025.2
tzlocal==5.2
umap-learn==0.5.4
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.20
ViennaRNA==2.6.4
vine==5.0.0
webcolors==1.13
websocket-client==1.5.2
Werkzeug==3.1.3
wrapt==1.16.0
xgboost==0.90
xyzservices==2023.10.1
yarl==1.9.4
zipp==3.18.1
